header {
  background-color: #ccdbfd;
  height: 65px;
  position: sticky;
  z-index: 10;
  top: 0;
  
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-title {
  font-size: 26px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;

}
.header-menu a{
  text-decoration: none;
  color: #000000;
}
.login-form {
  background-color: #d9d9d9;
  border-radius: 27px;
  margin-top: 80px;
  padding: 60px 150px 80px 150px;
}
.login-form-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}
.submit {
  width: 100%;
  color: black;
  background-color: #8ecae6;
  border-radius: 17px;
  border: none;
  margin-top: 10px;
}
.username,
.password {
  border-radius: 21px;
  height: 50px;
  background: #ffffff;
}
/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */

.body .sider {
  width: 200px;
  background:#B6CCFE;
  height: calc(100vh - 65px);
  position: fixed;
  top: 65px;
  left: 0;
}
/* Sider */
.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sider .inner-menu ul li a {
  color: #000000;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #515151;
}
.main {
  margin: 15px;
  position: relative;
  left: 230px;
  width: calc(100% - 220px);
}
.register-form{
  margin-top: 10px;
}
.gender{
  font-weight: normal;
}
.error-message{
  color: red;
  font-size: 14px;
}
/* Patient */
.main-layout2{
  /* margin: 15px; */
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
  overflow-x: hidden;

}
.patient-title{
  margin:15px;
}
.patient-table{
  padding: 15px;
}
.table-footer{
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.table-length label{
  margin-right: 15px;
}
.table-length select{
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin-right: 15px;
}
.button-pagination{
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border: none;
  margin-right: 15px;
  background-color: #8ecae6;
}
.page-pagination{
  text-align: center;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin-right: 15px;
}
.table-search{
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
}
.table-search-input,.table-search-select,.table-search-button{
  height: 30px;
  border-radius: 5px;  
  margin-right: 15px;
}
.patient-row,.doctor-row{
  cursor: pointer;
}
.patient-info{
  margin: 15px;
}
.patient-info-item{
  display: flex;
  align-items: center;
}
.patient-info-item-title{
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
  width: 50%;
}
.patient-info-item-content{
  font-size: 18px;
  width: 50%;
}
.patient-action{
  margin: 15px;
}
.patient-action-button{
  width: 60%;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #8ecae6;
}
td button,.print-button,.print-button2{
  border-radius: 5px;
  background-color: #bbd1db;
  width: 60px;
  height: 30px;
  border: none;
}
.print-button,.print-button2{
  width:100px;
  position: relative;
  bottom: 20px;
  right: 20px;
}
.print-button-div,.print-button-div2{
  position: fixed;
  bottom: 0px;
  right: 30px;
}
.print-background{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.2;
  
  background-color: #322c2c;
}
.treatment-report,.examination-report{
  display: none;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  opacity: 1;
  background-color: white;
  width: 500px;
  height: 600px;
}
.print-title{
  margin:15px;
  text-align: center;
}
.treatment-report-info{
  margin-left: 30px;
}
.cry{
  margin-left:50px ;
}
/* end patient */