mixin form-print-treatment
  form(method="post" action="/manage/treatmentreport/print" class="d-none" form-print-treatment)
      input(type="text" name="TDate" value="")
      input(type="text" name="PCode" value="")
      input(type="text" name="INPCode" value="")
      input(type="text" name="ADate" value="")
      input(type="text" name="DrCode" value="")